.headline {
  font-size: 4.5rem;
  background-image: var(--titleGradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.container {
  text-align: center;
}